@charset "utf-8";
#addMember, #addEvent {
	height: 350px;
	width: 300px;
	padding-top: 3px;
	margin-right: auto;
	margin-left: auto;
	background: #80a1b5; /* Old browsers */
	background: -moz-linear-gradient(top,  #80a1b5 0%, #6088a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80a1b5), color-stop(100%,#6088a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #80a1b5 0%,#6088a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #80a1b5 0%,#6088a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #80a1b5 0%,#6088a3 100%); /* IE10+ */
	background: linear-gradient(top,  #80a1b5 0%,#6088a3 100%); /* W3C */






filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a1b5', endColorstr='#6088a3',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
}
#addMember p, #addEvent p {
	color: rgb(255,255,255);
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 3px;
}
#first, #last, #email, #password, #password2, #title, #time, #date, #location, #cost, {
	margin-left: 22px;
	color: #00887d;
}
#submit {
	margin-left: 22px;
	text-shadow: 0 -1px 0 #369;
	color: rgb(255,255,255);
	background-color: #00887d;
	border-radius: 5px;
}
#description {
	width: 95%;
}

body{
  background: #f9f9f9;
  color: #333;
  font-family: arial, sans-serif;
}
input, select {
	float:right;
}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }